<div class="fileUploadDiv">
  <label for="formFile" class="form-label"> Please Select File:</label>
  <input class="form-control" type="file" id="upload-doc" accept=".pdf" (change)="uploadFile($event)">

  <div *ngIf="isPdfUploaded" class="button-div">
    <div class="page-div">
      <button (click)="previous()" class="btn btn-success">
        <i class="fa fa-angle-left font-weight-bold" aria-hidden="true"></i>
      </button>
      <p class="pagescount">Pages - {{currentpage}} of {{totalPages}}</p>
      <button (click)="next()" class="btn btn-success">
        <i class="fa fa-angle-right font-weight-bold" aria-hidden="true"></i>
      </button>
    </div>
    <button (click)="crop()" class="btn btn-warning button-margin" data-toggle="tooltip" data-placement="top"
      title="Crop">
      <i class="fa fa-crop" aria-hidden="true"></i>
    </button>

    <button (click)="zoomIn()" data-toggle="tooltip" data-placement="top" title="Zoom In" *ngIf="isCropImage"
      class="btn btn-light button-margin">
      <i class="fa fa-search-plus" aria-hidden="true"></i>
    </button>

    <input *ngIf="isCropImage" data-toggle="tooltip" data-placement="top" title="Crop" type="range" min="0.1" max="1"
      step="0.1" class="slider button-margin" id="myRange" (change)="onRange($event)">

    <button (click)="zoomOut()" data-toggle="tooltip" data-placement="top" title="Zoom Out" *ngIf="isCropImage"
      class="btn btn-light button-margin">
      <i class="fa fa-search-plus" aria-hidden="true"></i>
    </button>
    <button (click)="onRotate()" data-toggle="tooltip" data-placement="top" title="Rotate" *ngIf="isCropImage"
      class="btn btn-warning button-margin"><i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
    <button (click)="download()" class="btn btn-primary button-margin">Download</button>
    <button (click)="reset()" data-toggle="tooltip" data-placement="top" title="Reset" *ngIf="isCropImage"
      class="btn btn-danger button-margin"><i class="fa fa-undo" aria-hidden="true"></i></button>
  </div>
</div>

<div class="pdf-container top-margin" [hidden]="isCropImage">
  <pdf-viewer [src]="pdfSrc" [render-text]="true" [page]="currentpage" [show-all]="false" [original-size]="true"
    [fit-to-page]="false" (after-load-complete)="afterLoadComplete($event)" style="display: block;">
  </pdf-viewer>
</div>
<div class="img-container">
  <img #image src="" id="cropper-img" crossorigin>
</div>