.fileUploadDiv {
    width: 80%;
    margin: auto;
    border: 3px dotted gainsboro;
    padding: 10px;
    margin-top: 3rem;
  }
  .button-div {
    margin-top: 1rem;
    display: flex;
    width: 100%;
  }
  .pagescount {
    margin: 0.5rem;
  }
  .page-div{
    margin-right: 1rem;
    display: flex;
  }
  .button-margin {
    margin-right: 1rem;
  }
  .top-margin {
    margin-top: 1.5rem;
  }
  .img-container {
    width: 100%;
    float: left;
    margin-top: 1.5rem;
  }
